.theUl{
    width: 36em;
    position: absolute;
    right: 0em;
    top:3em;
  
}

.theLi{
    margin-bottom: 1em;
    background-color: rgb(255, 255, 255);
    color:#6D6D6D;
    font-family: 'Gruppo', cursive;
    font-size: 1.2em;
    background: linear-gradient(to right, rgba(255,0,0,0), #7FBCEF); /*Standard*/
    border: 2px outset #CBCBCB;
    box-shadow: 8px 8px 4px #888888;
   
}

.goalName{
    font-family: 'Carrois Gothic SC', sans-serif;
    font-size: 145%;
    font-family: 'Gruppo', cursive;
}

