.theUl{
    width: 54em;
    position: absolute;
    right: 0em;
    top:3em;
  
}

.theLi{
    margin-bottom: 1em;
    border: 1px solid rgb(119, 167, 213);
    background-color: rgb(255, 255, 255);
    color:#787676;
    font-family: 'Gruppo', cursive;
    
    font-size: 1.2em;

}

.goalName{
    font-family: 'Carrois Gothic SC', sans-serif;
    
    font-size: 145%;
}

/* .completeBtn{
    <button className="btn btn-sm  completeBtn">Complete</button>
   position: absolute;
   right:2%;
   top:17%;
   color:white;
   background-color: rgba(115, 159, 178, 0.55);
   font-family: 'Carrois Gothic SC', sans-serif;
} */