.GoalsVentDiv {
    margin-top: 7%;
}

#goalVent {
    margin-top: 14.5em;
    max-width: 60%;
    background-color: #383B3D;
    color: white;
    padding: 43px;
    border: 3px outset #91ABC3;
    box-shadow: 8px 8px 4px #888888;
}

.motivation5 {
    color: rgb(127, 128, 158);
    font-family: 'Gruppo', cursive;
    max-width: 60%;
}

.mapBtnDiv {
    max-width: 60%;
}

.btnDiv {
    display: inline;
}

.mapBtn {
    background-color: #7FBCEF;
    color: white;
    font-family: 'Gruppo', cursive;
    margin-right: 1.4em;
    margin-bottom: 1.4em;
    font-weight: 700;
    font-size: 1.1em;
}

.modalVent {
    color: #687090;
    font-family: 'Gruppo', cursive;
    font-size: 1em;
    
}

.modal-body {
    font-size: 2em;
}

.submit{
    background-color: #7FBCEF;
    color:white;
}